/* Making CSS files is relaxing */

#header-bar {
    background: linear-gradient(0.5turn, #00a2c2, #23bfdf,#92efff);
}

#header-bar a {
    color: #edfcfb;
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: 1.6rem;
    text-shadow: 0 0 1px #acedf8, 0 0 2px #acedf8;
}

#header-bar a:hover {
    color: #ffffff;
    text-shadow: 0 0 1px #acedf8, 0 0 2px #acedf8, 0 0 4px #acedf8, 0 0 6px #acedf8;
}

.display-4 {
    text-shadow: 3px 3px 3px #86b8a8;
}

.mt-4 {
    text-shadow: 2px 2px 2px #86b8a8;
}

/* In a better world I wouldn't have had to make this an id >_> */
.plus-sign {
    color:#edfcfb;
    font-size: 1.85rem;
    margin-right: 2rem;
}

.plus-sign:hover {
    color: #ffffff;
    text-shadow: 0 0 1px #d9f9ff, 0 0 2px #d9f9ff, 0 0 4px #d9f9ff, 0 0 6px #d9f9ff;
}

.save-note {
    color:#edfcfb;
    font-size: 1.85rem
}

.save-note:hover {
    color: #ffffff;
    text-shadow: 0 0 1px #d9f9ff, 0 0 2px #d9f9ff, 0 0 4px #d9f9ff, 0 0 6px #d9f9ff;
}


#getStarted {
    font-size: 1.4rem;
    color: #f8f8f8;
    text-shadow: 0 0 1px #add8e6, 0 0 2px #add8e6;
    background: linear-gradient(#4646ff, #9091ce);
    border: 1px solid #808080;
    border-radius: 0.8rem;
    padding: 0.45rem 0.9rem;
  }
  
  #getStarted:hover {
    color: white;
    background: linear-gradient(rgb(13, 13, 255), #7a7cd4);
    text-shadow: 0 0 1px #add8e6, 0 0 2px #add8e6, 0 0 4px #add8e6, 0 0 6px #add8e6;
    border: 2px solid #0c0c0c;
    box-shadow: 2px 2px 2px #5f5aa3;
}

    #splash-background {
        background: linear-gradient(0.42turn, #88ffd7, #cbffed 10%, #d5fff1 40%, #f0fcf8 95%);
        border-radius: 12px;
        border: 1px solid rgb(176, 240, 224);
    }