html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.save-note {
  display: none;
}

.icons {
  width: 66%;
}


.icons i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.note-textarea,
.note-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #d3d3d3;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 3.2rem;
  margin-top: 0.85rem;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: #757575;
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.list-container {
  padding-left: 0;
}



.list-container .list-group,
.list-container .card {
  border: 2px solid #bec2c5;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: linear-gradient(to right, #9becfa, #f6ffff 35%, #ffffff)
}

.list-container .list-group-item:first-child {
 border-right: transparent;
 border-left: none;
 border-top: 2px solid #bec2c5;
 border-top-right-radius: 0;
 border-top-left-radius: 0;
}

.list-item-title {
  font-size: 1.1rem;
  display: inline-block;
  width: 75%;
  text-shadow: 2px 2px 2px #d3d3d3;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  background: #fefdf8;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #bec2c5;
  padding: 20px;
  cursor: pointer;
}

.list-group-item:hover 
{
  background: #ebf9ff;
}

@media screen and (max-width: 640px) {
  .icons {
    max-width: 16rem;
  }
  .list-item-title {
    font-size: 0.9rem;
    text-shadow: 1px 1px 1px #d3d3d3;
  }
}

@media screen and (max-width: 480px) {
  .icons {
    width: 50%;
    max-width: 6 rem;
  }

  .list-item-title {
    font-size: 0.75rem;
  }
}
